@charset 'utf-8';

.sec{      
  padding:50px 0 100px;
  position:relative;
  z-index:2;
}
.sec .sec-tit{
  margin-bottom:2em;
  font-size:var(--main-tit);      
}
.ticketing,.curation{
  color:var(--gray-fff);
}
.benefit,.mega-info{
  background:var(--gray-fff);
  color:var(--main-color);
}
.ticketing .container{
  padding-top:50px;
}
.ticketing-nav{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  max-width:800px;
  margin:0 auto 4em;
  text-align:center;      
}
.ticketing-nav li{
  border-right:1px solid var(--main-color);
  padding:1em 0;
  background:#fff;      
  color:var(--main-color);
  cursor:pointer;
}  
.ticketing-nav li:last-child{
  border-right:none;
}  
.ticketing-nav li.active,.ticketing-nav li:hover{
  background:var(--main-color);
  color:#fff;
}
.ticketing-nav span{
  display:none;
}
.ticketing .movie{
  margin-bottom:80px;
}
.ticketing .art .grid-container{
  display:grid;
  grid-template-columns:1fr 2fr;
  row-gap:1em;
  column-gap:0.5em;
  position:relative;
}
.movie-name{
  display:none;
}
.movie-num{
  position:absolute;
  left:20px;
  top:20px;
  z-index:1;
  font-weight:700;
  font-size:2em;
  font-style:italic;      
}
.movie-img{
  grid-area:1/1/2/3;
  border-radius:1em;
  overflow:hidden;
}
.movie-best,.movie-ticketing{
  border:1px solid #999;
  border-radius:5px;
  padding:0.5em;
  background:#000;
  text-align:center;
}
.movie-best{
  display:flex;
  justify-content:center;
  align-items:center;
}
.movie-best::before{
  content:'';
  display:inline-block;
  width:16px;
  height:16px;
  margin-right:0.5em;
  background-image:url('../images/ico-heart-toggle-main.png');
  background-repeat:no-repeat;
  background-position-x:left;
  background-position-y:center;
  background-size:32px;
}
.movie-ticketing{
  border:none;
  background:var(--sub-color02);
}
.movie-con{      
  grid-area:1/1/2/3;    
  border-radius:1em;
  overflow:hidden;  
  background:rgba(0,0,0,0.8);      
  opacity:0;
  transition:0.3s;
  line-height:1.75;
}
.ticketing .art .grid-container:hover .movie-con{
  opacity:1;
}
.movie-con a{
  display:flex; 
  width:100%;
  height:100%;     
  padding:20px;
  flex-flow:column nowrap;
  justify-content:space-between;
}
.movie-txt{
  height:160px;      
  overflow:hidden;
  text-overflow:ellipsis;
}
.movie-review{
  display:flex;
  justify-content:center;
  align-items:center;
  border-top:1px solid var(--gray-555);
}
.movie-review span:last-child{
  padding-left:0.5em;
  padding-bottom:5px;
  font-weight:700;
  font-size:2em;
  color:var(--sub-color01);
}
.movie-bottom-nav{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  margin-bottom:50px;
  padding:1em 0;
  background:#111;
  text-align:center;
  font-size:1.1em;
}
.movie-bottom-nav li{
  border-right:1px solid #999;
  padding:0.5em 0;
  display:flex;
  justify-content:center;
  align-items:center;
}
.movie-bottom-nav a::before,
.movie-bottom-nav li:first-child::before{
  content:'';
  display:inline-block;
  width:24px;
  height:24px;
  background:no-repeat center;
  background-size:contain;
  background-image:url('../images/ico-search-white.png');
}
.movie-bottom-nav li:nth-child(2) a::before{
  background-image:url('../images/ico-schedule-main.png');
}
.movie-bottom-nav li:nth-child(3) a::before{
  background-image:url('../images/ico-boxoffice-main.png');
}
.movie-bottom-nav li:nth-child(4) a::before{
  background-image:url('../images/ico-quick-reserve-main.png');
}
.movie-bottom-nav a span,
.movie-bottom-nav input{
  display:none;
}
.movie-bottom-nav input{
  width:60%;
  border-radius:0;
  border-bottom:1px solid #999;
  outline:none;
  background:transparent;
  color:#fff;
}
.movie-bottom-nav input::placeholder{
  color:#999;
}
.movie-bottom-nav li:last-child{
  border-right:none;
}
.move-mouse{
  position:relative;
  animation:moving 1.5s linear infinite;      
}
.move-mouse::before,.move-mouse::after{
  box-sizing:border-box;
  content:'';
  display:block;
  position:absolute;
  left:50%;
  top:0;
  transform:translateX(-50%);
}
.move-mouse::before{
  width:18px;
  height:26px;
  border:2px solid #fff;
  border-radius:9px;
}
.move-mouse::after{
  top:5px;
  width:2px;
  height:7px;
  border:1px solid #fff;
  border-radius:1px;
}

.benefit{
  position:relative;
}
.benefit::before{
  content:'';
  display:block;
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  z-index:1;
  height:300px;
  background:var(--sub-color01);
}
.benefit .container{
  position: relative;
  z-index:2;
}
.benefit .grid-container{
  display:grid;
  grid-template-columns:repeat(10,1fr);
  gap:20px;
  margin-bottom:50px;
}
.benefit .art01{
  grid-column:1/6;
  grid-row:1/2;
}
.benefit-swiper01{      
  padding-bottom:50px;
}
.benefit .art02{
  grid-column:6/11;
  grid-row:1/2;
}
.benefit .art03{
  grid-column:1/8;
  grid-row:2/3;
}
.benefit .art04{
  grid-column:8/11;
  grid-row:2/3;
}
.benefit .art05{
  display:none;
  grid-column:11/17;
  grid-row:1/3;
}
.benefit .art .img-box{
  height:100%;
}
.benefit .art img{
  height:100%;
  object-fit:cover;
}
.benefit-controls{
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  display: grid;
  grid-template-columns:repeat(16,1fr);
  gap:6px;
  align-items:center;
}
.benefit-scrollbar{
  position:static !important;
  grid-column: 1/11;
  height:2px !important;
}
.benefit-scrollbar .swiper-scrollbar-drag{
  background:var(--sub-color01) !important;
}
.benefit-button-prev{
  position:static !important;
  grid-column: 12/13;
  width:auto;
  height:auto;
  margin-top:0;
  z-index:auto;
  display:block;
  color:var(--sub-color01);
}
.benefit-button-prev::after,.benefit-button-next::after{
  font-weight:900;
  font-size:1em;
}
.benefit-button-next{
  position:static !important;
  grid-column: 13/14;
  width:auto;
  height:auto;
  margin-top:0;
  z-index:auto;
  display:block;
  color:var(--sub-color01);
}
.benefit-start-pause{
  grid-column: 14/15;
}
.benefit-start-pause .benefit-start,
.benefit-start-pause .benefit-pause{
  display:none;      
  cursor:pointer;
}
.benefit-start-pause .benefit-start.active,
.benefit-start-pause .benefit-pause.active{
  display:block;
}
.benefit-start-pause span{
  display:none;
}
.benefit-start-pause .benefit-start::before,
.benefit-start-pause .benefit-pause::before{
  content:'';
  display:block;
  box-sizing:border-box;
  width:10px;
  height:10px;
  border:5px solid var(--sub-color01);      
}
.benefit-start-pause .benefit-start::before{
  margin-left:2.5px;
  border-top-color:transparent;
  border-right-color:transparent;
  border-bottom-color:transparent;
}
.benefit-pagination{
  position:static !important;
  grid-column:15/17;
}
.benefit-pagination.swiper-pagination-fraction{
  color:var(--sub-color01) !important;
}
.benefit-banner .img-box{
  display:none;
}
.benefit-banner .img-box.active{
  display:block;
}
.benefit-nav{
  display:grid;
  grid-template-columns:repeat(5,auto);
  justify-content:space-around;
  align-items:center;
  font-weight:500;
  font-size:1.1em;
  color:#fff;
  text-align:center;
  text-transform:uppercase;
}
.benefit-nav .img-box{
  margin-bottom:1em;
}
.benefit-nav img{
  width:45px;
  height:45px;
  object-fit:contain;
  object-position:center;
}
.benefit-nav p{
  display:none;
}
.curation{
  background:#252451;
} 
.curation .img-box{
  border-radius:0.5em;
  overflow:hidden;
}
.curation-grid-container{
  display:grid;
  grid-template-columns:100%;
  column-gap:3em;
  row-gap:1em;
}
.curation-poster{
  display:none;
  grid-template-columns:1fr 1fr;
  gap:0.5em;
  position: relative;
  padding:1em;
}
.curation-poster .img-box{
  grid-column:1/3;
}
.curation-poster button{
  border:none;
  padding:9px 0 10px;
  background:var(--sub-color01);
  font-size:1.2em;
  color:#fff;
  cursor:pointer;
}
.curation-poster button:last-of-type{
  /* border:2px solid var(--sub-color01); */
  background:#fff;
  color:var(--sub-color01);
}
.curation-poster .badge{
  position:absolute;
  left:0;
  top:0;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
  padding:1em 1em 3em;
  background:var(--sub-color02);
  font-weight:700;
  font-size:0.9em;
  text-transform:uppercase;
  line-height:1.2em;
}
.curation-con{
  display:none;
}

.info-special{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:1em;
  margin-bottom:4em;
}
.info-special .img-box{
  border-radius:50%;
  overflow:hidden;
  filter:grayscale(1);
}
.info-special .img-box:hover{
  filter:grayscale(0);
}
.info-notice{
  margin-bottom:4em;
  border:1px solid #f0f0fa;
  border-left:none;
  border-right:none;
  padding:1em 0;
}
.info-notice .container{
  display:grid;
  grid-template-columns:auto 1fr auto auto;
  gap:2em;
}
.info-notice .container p:nth-child(2){
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.info-notice a:hover{
  color:var(--sub-color01);
  text-decoration:underline;
}
.info-link ul{
  display:grid;
  grid-template-columns: repeat(6,1fr);            
}
.info-link li{
  display:grid;
  justify-content:center;
  align-items:center;
}
.info-link img{
  display:block;
  width:40px;
  height:40px;
  margin:0 auto;
  object-fit:contain;
  object-position:center;
}
.info-link p{
  padding-top:1em;
  font-size:0.5em;
  text-align:center;
}
.ad{
  padding:0;
  background:var(--gray-aaa);      
}
.ad .container{
  padding:0;
}



@media (min-width:500px){
  .benefit::before{
    height:340px;
  }
  .benefit-nav img{
    width:50px;
    height:50px;
  }
}

@media (min-width:640px){
  .ticketing-nav li{
    font-size:1.1em;
  }
  .ticketing-nav span{
    display:inline;
  }
  .benefit::before{
    height:380px;
  }
  .benefit-nav img{
    width:60px;
    height:60px;
  }
  .benefit-nav p{
    display:block;
  }
  .info-special{
    grid-template-columns:repeat(6,1fr);        
  }
  .info-notice .container{
    gap:3em;
  }
  .info-link img{
    width:50px;
    height:50px;
  }
  .info-link p{
    font-size:0.7em;
  }
}

@media (min-width:760px){
  
  .movie-bottom-nav a{
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  .movie-bottom-nav li:first-child::before,
  .movie-bottom-nav a::before{
    margin-right:1em;
  }
  .movie-bottom-nav a span,
  .movie-bottom-nav input{
    display:inline;
  }
  .curation-grid-container{
    grid-template-columns:calc(30% - 1.5em) calc(70% - 1.5em);
  }
  .curation-poster{
    display:grid;
    grid-area:1/1/3/2;
    align-self:start;
  }
  .curation-con{
    display:block;
  }
  .curation-con h4{
    margin:1em 0;
    font-size:2em;
  }
  .curation-con hr{
    margin:2em 0;
  }
  .curation-con p{
    margin:1em 0;
    line-height:2em;;
  }
  .curation-nav{
    align-self:end;
    grid-area:2/2/3/3;
  }
  .info-link p{
    display:block;
  }
}

@media (min-width:960px){
  .benefit .grid-container{
    grid-template-columns:repeat(16,1fr);
  }
  .benefit .art05{
    display:block;        
  }
  .info-notice .container{
    gap:6em;
  }
  .info-link p{
    font-size:1em;
  }
  
}

@media (min-width:1280px){
  
  .ticketing .container{
    padding-top:0;
  }
  
  .curation-poster{
    grid-area:1/1/3/2;
  }
  .curation-con{
    display:block;
  }
  .curation-con h3{
    font-size:1.2em;
  }
  .curation-con h4{
    font-size:3em;
  }
  .mega-info .img-box{
    border-radius:1.5em;
  }
  
}

@keyframes moving {
  0%{
    transform:translateY(0);
  }
  15%{
    transform:translateY(0);
  }
  50%{
    transform:translateY(-10px);
  }
  85%{
    transform:translateY(0);
  }
  100%{
    transform:translateY(0);
  }
}